:root {
    /*--background-color: #d6feff;*/
    --background-color: #07a5fa;
    --primary-text: black;
    --primary-container-color: #4f75ff;
    --secondary-container-color: #4fc1ff;
    --link-color: #122547;

}
